.main-body {
  display: flex;
  width: 100%;
  background-color: #F9F9F9;
  font-family: 'Roboto Condensed', sans-serif !important;
}


.side-menu {



  min-width: 75px;
  max-width: 75px;
  background-color: #FFFFFF;
  padding-top: 30px;


  display: flex;
  flex-direction: column;
  align-items: center;


}

.side-icons {
  position: fixed;
}

.side-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;


  width: 30px;
}


.main-menu {
  background-color: #F9F9F9;
  display: block;
  width: 100%;
  position: relative;
}

.menu-on-button_on, .menu-on-button_off {
  top: 94px;
  z-index: 5;
  position: absolute;
  width: 100%;

  font-weight: bold;

  background: rgb(223, 223, 223);
  background: linear-gradient(0deg, rgba(249, 249, 249, 1) 0%, rgba(232, 232, 232, 1) 10%, rgba(232, 232, 232, 1) 90%, rgba(249, 249, 249, 1) 100%);

}

.menu-on-button_on{
	-webkit-animation: scale-in-ver-top 100ms ease-in both;
	        animation: scale-in-ver-top 100ms ease-in both;
}

.menu-on-button_off{
  -webkit-animation: scale-out-ver-top 0.1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-ver-top 0.1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}




.menu-on-button .navigation-link{
  display: none;
}

.menu-on-button_on .navigation-menu, .menu-on-button_off .navigation-menu {
  width: 100%;
  display: flex;
  

}



.menu-on-button_on .navigation-link,  .menu-on-button_off .navigation-link {
  display: inherit;
  font-size: 18px;
  margin-left: 0px;
  padding: 20px 15px;
}



.header-main-menu {
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  column-gap: 20px;
  row-gap: 15px;
  display: grid;



  align-items: center;
  grid-template-areas:
    "a b c"
    "e f g";
}

.selector-city-and-time,
.selector-city-and-time-1280 {
  grid-area: a;
  max-width: 260px;
  outline: none;
  background-color: transparent;
  border: none;
  margin-top: 1px;
  border-bottom: 1px dashed;
  height: 45px;

}

.selector-city-and-time-1280 {
  visibility: collapse;
  color: #A3A3A3;
}



.navigation {
  grid-area: b;
  align-items: center;
  gap: 16px;
  white-space: nowrap;
  display: grid;
  min-width: fit-content;
  grid-template-columns: 0.20fr auto;

}

.navigation-button,
.button-navigation-menu,
.button-navigation-menu-mob {

  gap: 10px;
  min-width: fit-content;
  max-width: 250px;
  padding: 10px;
  background-color: #1771F1;
  border-radius: 0px 12px;
  border: none;
  display: flex;
  align-items: center;
  grid-column-start: 1;
}

.navigation-button {
  color: #fff;
  padding: 12px 13px;
}

.button-navigation-menu {
  padding: 12px 13px;

}

.button-navigation-menu,
.button-navigation-menu-mob {
  grid-column-start: none;
  visibility: collapse;
  background-color: #fff;
  display: none;
  width: 75px;
}

.navigation-button:focus {
  color: #FFDD55;
}

.navigation-menu {
  grid-column-start: 2;
  display: flex;
  padding-right: 100px;

  justify-content: space-between;

}


.navigation-link {
  text-decoration: none;
  color: #000;
  line-height: 19px;
  font-size: 16px;
  margin-left: 14px;
}

.navigation-search-and-button {
  grid-area: f;
  display: flex;
  width: 100%;
  position: relative;
}





.navigation-search {

  position: relative;
  line-height: 19px;
  font-size: 100%;
  display: flex;
  width: 100%;
  border-radius: 60px;
  border: #EAEAEA 1px;
  background-color: #F3F3F3;
  padding: 20px;

}

.navigation-search::placeholder {
  color: #62B52F;
  font-style: italic;
}


.search-button {
  position: absolute;
  top: 25%;
  right: 10px;
  border: none;
  background: none;
  min-width: fit-content;
}





.label-company {
  grid-area: e;
  max-height: 58px;
  min-height: 45px;

  min-width: 158px;

}

.phone-and-bar {
  grid-area: c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar-menu {
  display: flex;
}

.bar-menu a {
  margin-right: 5px;
}

.phone-number-header {
  align-items: center;
  white-space: nowrap;
  font-size: 24px;
  display: grid;
  font-weight: bold;
}

.phone-number-header a {
  color: #000;
  margin-right: 24px;
}

.foot-number-and-social .phone-number-header a {
  margin-right: 0px;
}

.bucket,
.social-media-and-bucket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  grid-area: g;

}

.body-main-menu {
  margin-top: 70px;
  margin-right: 24px;
  margin-left: 28px;

  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.page-index {
  color: "#fffffff";
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1fr;
  gap: 10px;
  margin-bottom: 32px;
}

.body-main-menu H1 {
  font-weight: 700;
  font-size: 48px;

  letter-spacing: 0.02em;
  height: 100%;
  margin-bottom: 32px;
}

.page-index a {
  text-decoration: none;

}

.block-information-export {
  display: grid;
  grid-template-columns: 45% 55%;
  background-color: #FFFFFF;
  border-radius: 1px;

}

.information p {
  font-size: 18px;

}

.body-main-menu p {
  line-height: 28px;

  color: #595454;

}

.information {
  color: #595454;
  padding: 24px;
  display: flex;
  flex-direction: column;

  color: #595454;
  font-style: normal;

  font-size: 22px;

}

.information h5,
.body-main-menu H5 {

  font-size: 28px;
  font-weight: 700;
  color: #1771F1;

}

.body-main-menu H5 {
  margin-top: 50px;
  margin-bottom: 8px;
}

.information h5 {
  margin-top: 0;
  margin-bottom: 0;
}

.map-export {
  grid-column-start: 2;
}

.time-and-adress-export {
  border: 1px solid #EEEEEE;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
  padding: 16px;
}

.header-time-and-adress-export {
  margin-bottom: 16px;
}

.time-and-adress-export h4 {
  margin-left: 18px;
  margin-top: 12px;
  font-weight: 700;
  margin-bottom: 16px;
}

.adress-export {
  margin-bottom: 18px;
}

.adress-export,
.time-export {

  display: flex;
  font-size: 16px;



}



.adress-export h6,
.time-export h6 {
  margin-left: 20px;

  margin-right: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #595454;
}

.head-info {
  margin-bottom: 16px;
}

.head-info p {
  margin-top: 8px;
}

.search-button-mobile {
  display: none;
}

.adress-export svg,
.time-export svg {
  margin-right: 20px;
  min-height: 25px;
  max-height: 25px;
  min-width: 25px;
  max-width: 25px;
}

.delivery-companies {
  display: grid;
  grid-template-areas:
    "a b"
    "c d";
  margin-bottom: 105px;
  gap: 20px;
  margin-top: 34px;
}

.delivery-information-a,
.delivery-information-b,
.delivery-information-c,
.delivery-information-d {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 1px;
  justify-content: center;
  font-size: 16px;

}

.delivery-logo {
  min-height: 55px;
  max-height: 70px;
  margin-left: 20px;
  grid-row-start: 1;
  margin-top: 22px;
  margin-bottom: 36px;


}

.delivery-logo img {
  height: 100%;
}

.delivery-information-text {
  padding: 22px;
  font-size: 18px;
  font-style: normal;
  line-height: 28px;
  height: 100%;
  display: flex;

}

.delivery-information-buttons {
  padding: 22px;


}



.button-export-package,
.button-export-cost {
  box-shadow: none;
  text-decoration: none;
  outline: none;

  padding: 6px 14px;

  color: #1771F1;
  font-size: 16px;
  border-radius: 60px;
  border: 1px solid #1771F1;
  background-color: #FFFFFF;
}

.button-export-cost {
  margin-right: 18px;
}


.button-export-cost {
  background-color: #1771F1;
  color: #FFFFFF;

}

.delivery-information-a {
  grid-area: a;
}

.delivery-information-b {
  grid-area: b;
}

.delivery-information-c {
  grid-area: c;
}

.delivery-information-d {
  grid-area: d;
}


.footer-main-menu {
  padding: 52px 142px 24px 142px;

  background: #332E2E;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.foot-info,
.foot-number-and-social {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  color: #A3A3A3;
  height: 100%;

}

.phone-and-social {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.foot-foot-menu,
.foot-head-menu {
  display: flex;

  justify-content: space-between;

}

.foot-labels,
.label-company-system-pay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.foot-number-and-social {
  display: grid;

  height: 100%;
}

.foot-number-and-social a {
  color: #EAEAEa;
}

.foot-foot-menu a {
  color: #EAEAEa;
  margin-top: 29px;
}

.phone-and-social .phone-number-header {

  display: flex;
  height: 58px;
  font-size: 24px;
}


.foot-number-and-social .social-media {
  margin-bottom: 16px;

}

.name-developer p {

  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #595454;
}

.foot-info span {

  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;

  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #EAEAEA;


}

.foot-info {
  margin-top: 10px;
}

.foot-info,
.foot-info a {

  gap: 10px;
  display: grid;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #A3A3A3;
}

.body-main-menu {
  margin-right: 158px;
  margin-left: 158px;
}


.foot-labels a {

  color: #A3A3A3;

}

.label-company-system-pay a {
  min-height: 58px;
}

.label-company-system-pay a .label-company {
  max-height: 58px;
  object-fit: contain;
  margin-right: 10px;

}

.system-pay {
  margin-top: 40px;

  margin-bottom: 96px;
  min-height: 22px;
  max-height: 22px;
}

.bucket p {
  margin-left: 5px;
}



@media screen and (max-width: 1400px) {
  .selector-item-time {
    display: none;
    visibility: collapse;
    max-width: 0px;
    width: none;
  }





  .phone-number-header {

    margin-left: 38px;
    margin-right: 6px;
  }


  .block-information-export {
    grid-template-columns: 65% 35%;

  }



  .body-main-menu {
    margin-right: 24px;
    margin-left: 24px;
  }


  .side-menu {
    width: 50px;
  }

  .selector-city-and-time-1280 {
    visibility: visible;
    max-width: 140px;

  }



  .label-company {
    max-width: 160px;
    max-height: 58px;
    min-height: 58px;
    object-fit: contain;
  }

  .selector-city-and-time {
    display: none;
    visibility: collapse;
  }

  .header-main-menu {
    margin-left: 20px;
    margin-right: 20px;
    column-gap: 2px;
    row-gap: 16px;
    grid-template-areas:
      "a b b c"
      "e f f g";
  }

  .social-media-and-bucket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 38px;
  }



  .footer-main-menu {
    padding: 52px 26px 24px 26px;
  }

  .navigation-menu {
    justify-content: space-between;
    padding-right: 0px;
  }

  .navigation {
    gap: 0
  }

  .phone-and-social .phone-number-header a {
    margin-right: 0px;
  }

  .label-company-system-pay a .label-company {
    max-width: 100%;
  }

}


@media screen and (max-width: 1279px) {

  .button-navigation-menu {
    display: block;
    font-weight: 600;

  }

  .phone-and-social .phone-number-header {
    margin-right: 0px;
  }


  .header-main-menu {
    column-gap: 0px;
    grid-template-areas:
      "a b b c c c c"
      "e f f f f g g";
  }

  .social-media-and-bucket {
    margin-left: 60px
  }

  .navigation-link {
   
    display: none;
  }

  .navigation-search-and-button {
    margin-right: 18px;
    width: auto;

  }

  .navigation-button {
    margin-right: 12px;
  }

  .navigation {
    display: flex;
    gap: 0px;
    align-items: center;
    margin-right: 18px;
    justify-content: space-between;
  }

  .button-navigation-menu {
    grid-column-start: 2;
    grid-row-start: 1;
    visibility: visible;
    background-color: #fff;
    border: solid 1px;
    border-color: #1771F1;
    color: #1771F1;
    letter-spacing: 1px;
  }

 
  .selector-city-and-time-1280 {

    width: 130px;
  }


  .main-menu {
    display: block;
  }


  .delivery-companies {
    grid-template-areas:
      "a"
      "b"
      "c"
      "d";
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content max-content;
    gap: 10px
  }

  .delivery-information-a,
  .delivery-information-b,
  .delivery-information-c,
  .delivery-information-d {
    padding: 2px;
    height: fit-content;
    grid-template-rows: 20% auto 20%;

  }

  .delivery-logo {
    height: 65px;


  }

  .block-information-export {
    grid-template-columns: 100%;

  }

  .map-export {
    grid-column-start: 1;
    margin-top: 15px;
    height: 500px;

  }

  .foot-info {
    display: none;
  }

  .phone-number-header {
    margin-right: 18px;

  }





}

@media screen and (max-width: 1023px) {
  .selector-city-and-time-1280 {
    display: none;
  }

  .social-media-and-bucket {
    justify-content: flex-end;
    margin-left: 0px;
  }





  .navigation-search-and-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 0px;
    margin-left: 20px;
  }





  .social-media {
    display: none;
  }

  .foot-number-and-social .social-media {
    display: flex;
  }

  .navigation {
    display: flex;

    align-items: flex-start;
    margin-right: 0;
  }



  .phone-number-header a {

    margin-right: auto;
  }

  .header-main-menu {
    grid-template-areas:
      "b b c c c c c c"
      "e f f f f f g g";
  }
}

@media screen and (max-width: 719px) {


  .delivery-companies {
    gap: 10px
  }


  .navigation-search-and-button {
    margin-left: 0px;
  }


  .phone-number-header {
    margin-left: 8px;
    margin-right: 8px;
  }


  .header-main-menu {
    grid-template-columns: auto;
  }


  .side-menu {
    display: none;
  }





  .navigation-button {
    display: none;
    visibility: collapse;
  }

  .button-navigation-menu {
    grid-column-start: 1;
  }




  .navigation {
    display: none;
  }

  .button-navigation-menu {
    margin-left: 5px;
  }


  .header-main-menu {


    grid-template-areas:
      "c c c c c c c"
      "e f f f f f g";
  }

  .social-media-and-bucket {
    margin-left: 0px;
  }



  .social-media-and-bucket {
    width: 100%;
  }

  .bucket p {
    min-width: 96px;

  }

  .search-button {
    grid-column-start: 1;

    padding: 0px;
  }

  .bar-menu {
    gap: 5px
  }

  .body-main-menu {
    padding: 14px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .foot-head-menu .label-company {
    max-width: 140px;

    min-width: 140px;
  }

  .menu-on-button_on .navigation-menu,   .menu-on-button_off .navigation-menu{
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-on-button_on .navigation-link,   .menu-on-button_off .navigation-menu {
    padding-top: 26px;
    padding-bottom: 26px;

  }



  .label-company {
    max-width: auto;
    min-height: 45px;
    max-height: 45px;
    min-width: auto;
  }



}

@media screen and (max-width: 600px) {

  .search-button,
  .navigation-search {
    display: none;
  }

  .bucket,
  .social-media-and-bucket {


    font-size: 16px;
  }


  .navigation-search-and-button {
    margin-left: 0px;
  }

  


  .search-button-mobile {
    display: block;
    width: 25px;
    width: auto;
    background-color: #F9F9F9;
    border: 0px;
  }
}




@media screen and (max-width: 465px) {

  .button-export-package {
    margin-top: 10px;
  }

  .menu-on-button {
    top: 80px;
  }

  .bar-menu {
    gap: auto
  }

  .label-company-system-pay a .label-company {
    max-width: 148px;
    min-width: 148px;
  }


  .label-company {

    min-height: 34px;
    max-height: 34px;
  }



  .bar-menu a svg {
    gap: 2px;
    width: 22px;

  }

  .system-pay {
    width: 100%;
    object-fit: contain;
  }

  .label-company-system-pay a .label-company {

    min-height: 45px;
    max-height: 45pc;
  }



  .foot-head-menu .label-company {
    max-width: auto;
    min-width: auto;
  }


}


@media screen and (max-width: 415px) {
  .phone-number-header {
    font-size: 16px;
  }

  .label-company {
    min-height: 28px;
    max-height: 28px;
  }

  .header-main-menu {
    margin-left: 14px;
    margin-right: 14px;
  }

  .phone-number-header {
    margin-left: 0px;

  }

  .button-navigation-menu {
    padding: 5px;
  }

  .bar-menu a svg {
    gap: 2px;
    width: 22px;

  }

  .system-pay {
    width: 100%;
    object-fit: contain;
  }

  .label-company-system-pay {
    align-items: center;
  }

  .label-company-system-pay a .label-company {
    max-width: 150px;
    min-width: auto;
  }

  .label-company-system-pay a .system-pay {
    margin-bottom: 20px;
  }

  .foot-head-menu {
    display: flex;
    flex-direction: column;
  }

  .phone-and-social .phone-number-header {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .phone-and-social {

    align-items: center;
    margin-bottom: 20px;
  }



}

@-webkit-keyframes scale-out-ver-top {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-out-ver-top {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
    
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
 
  }
 
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  
  }
  
  
}